<h1>
  Shoplist #<%= @shoplist.id %> <%= @shoplist.name %> details
</h1>
<p>Edit the Ingredient Price and Units to match the containers that containers you purchase for creating the recipe.
  <br/> 
  If an ingredient uses volumetric units in the recipe it MUST be in volumetric units in the shoplist. 
  <hr/> 
  Example: Recipe requires 2 cup of Flour and the container of Flour you buy in the Shoplist is 3 pound...
  <br/> 
  This is invalid and the Flour in the shoplist would need to be in a unit like Fluid Ounce to convert properly.
  <br/> 
  Same with units of mass.
</p>
<!--<a href="/shoplists/<%= @shoplist.id %>/edit">-->
<!--  Edit shoplist-->
<!--</a>-->

<hr>
<%= link_to 'Calculate Unit Cost', calc_path(@shoplist.id) %>
<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @shoplist.name %>
  </dd>

  <dt>
    Sum
  </dt>
  <dd>
    <%= number_to_currency(@shoplist.sum) %>
  </dd>

  <dt>
    Recipe
  </dt>
  <dd>
    <%= link_to @shoplist.name, recipe_path(@shoplist.recipe_id) %>
  </dd>
  <dt>
    Ingredients
  </dt>
  <% @shoplist.items.each do |i| %>
    <dd>
      <%= link_to i.name, edit_item_path(i) %>
      | &nbsp; <%= i.amount %> &nbsp; <%= i.units %>
      | &nbsp; <%= number_to_currency(i.price) %>
    </dd>
  <% end %>
  <!--<dt>-->
  <!--  Created at-->
  <!--</dt>-->
  <!--<dd>-->
  <!--  <%= time_ago_in_words(@shoplist.created_at) %> ago-->
  <!--</dd>-->

  <!--<dt>-->
  <!--  Updated at-->
  <!--</dt>-->
  <!--<dd>-->
  <!--  <%= time_ago_in_words(@shoplist.updated_at) %> ago-->
  <!--</dd>-->
</dl>

<a href="/delete_shoplist/<%= @shoplist.id %>">
  Delete shoplist
</a>

<hr>

<%= render 'shoplist_templates/quick_add' %>
<a href="/recipes/<%= @shoplist.recipe_id %>">
  Go back
</a>
