<!-- Validation failure messages -->
<% if @ingredient.present? %>
  <% if @ingredient.errors.any? %>
    <% @ingredient.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new ingredient
</h1>

<hr>

<form action="/create_ingredient" method="post">
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @ingredient.try(:name) %>">
  </div>

  <!-- Label and input for amount -->
  <div class="form-group">
    <label for="quantity">
      Quantity
    </label>

    <input type="text" id="quantity" name="quantity" class="form-control" value="<%= @ingredient.try(:quantity) %>">
  </div>

  <!-- Label and input for units -->
  <div class="form-group">
    <label for="units">
      Units
    </label>

    <input type="text" id="units" name="units" class="form-control" value="<%= @ingredient.try(:units) %>">
  </div>


  <!-- Label and input for recipe_id -->
  <div class="form-group">
    <!-- <label for="recipe_id">
      Recipe
    </label> -->

    <input type="hidden" id="recipe_id" name="recipe_id" class="form-control" value="<%= @ingredient.try(:recipe_id) %>">
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <button class="btn btn-block btn-outline-secondary">
    Create ingredient
  </button>
</form>

<hr>

<a href="/ingredients">
  Go back
</a>
