<h1>
  Recipe #<%= @recipe.id %> details
</h1>

<a href="/recipes/<%= @recipe.id %>/edit">
  Edit recipe
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @recipe.name %>
  </dd>
  <dt>
    Ingredients
  </dt>
  <dd>
    <% @recipe.ingredients.each do |ingr| %>
      <div>

         <%= ingr.name %>
         <br>
         <%= ingr.amount %> - <%= ingr.units %>
         <br>
         <%= link_to "Edit #{ingr.name}", edit_ingredient_path(ingr) %>
         <%= link_to 'X', delete_ingredient_path(ingr), data: {confirm: "Are you sure you want to delete this ingredient?"} %>
         <br>
      </div>
      <hr>
    <% end %>
  </dd>
  <dt>
    User
  </dt>
  <dd>
    <%= link_to @recipe.user.username, user_path(@recipe.user) %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@recipe.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@recipe.updated_at) %> ago
  </dd>
</dl>
<%= render 'shared/quick_add_ingredient' %>
<a href="/delete_recipe/<%= @recipe.id %>">
  Delete recipe
</a>

<hr>

<a href="/recipes">
  Go back
</a>
