<!-- Validation failure messages -->
<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit item #<%= @item.id %>
</h1>

<hr>

<form action="/update_item/<%= @item.id %>" method="post">
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @item.name %>">
  </div>

  <!-- Label and input for amount -->
  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @item.amount %>">
  </div>

  <!-- Label and input for units -->
  <div class="form-group">
    <label for="units">
      Units
    </label>
    <datalist id="units" class="form-control">
      <input list="units" name="units">
      <option value="teaspoon"></option>
      <option value="tablespoon"></option>
      <option value="cup"></option>
      <option value="oz fl"></option>
      <option value="pint"></option>
      <option value="quart"></option>
      <option value="gallon"></option>
      <option value="oz"></option>
      <option value="pound"></option>
    </datalist>
    <!--<input type="text" id="units" name="units" class="form-control" value="<%= @item.units %>">-->
  </div>

  <!-- Label and input for price -->
  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control" value="<%= @item.price %>">
  </div>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>


  <button class="btn btn-block btn-outline-secondary">
    Update item
  </button>
</form>

<hr>

<a href="/items">
  Go back
</a>
