<!-- Validation failure messages -->
<% if @item.present? %>
  <% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new item
</h1>

<hr>

<form action="/create_item" method="post">
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @item.try(:name) %>">
  </div>

  <!-- Label and input for amount -->
  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @item.try(:amount) %>">
  </div>

  <!-- Label and input for units -->
  <div class="form-group">
    <label for="units">
      Units
    </label>

    <input type="text" id="units" name="units" class="form-control" value="<%= @item.try(:units) %>">
  </div>

  <!-- Label and input for price -->
  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control" value="<%= @item.try(:price) %>">
  </div>

  <!-- Label and input for shoplist_id -->
  <div class="form-group">
    <label for="shoplist_id">
      Shoplist
    </label>

    <input type="text" id="shoplist_id" name="shoplist_id" class="form-control" value="<%= @item.try(:shoplist_id) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create item
  </button>
</form>

<hr>

<a href="/items">
  Go back
</a>
